* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 400ms;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.25%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 999;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    height: 80px;
}


#menu-btn {
    display: none;
    font-size: 2.4rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--ime-Green);
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.myHeader .logo i {
    color: forestgreen;
}

.myHeader .logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a {
    color: black;
    font-size: 2rem;
    margin-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icons {
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
}

.myHeader .icons a {
    color: forestgreen;
    text-decoration: none;
}

.myHeader .icons #search-btn {
    margin-left: 1rem;
}


/* swiperJs section */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: #fff;
    scrollbar-width: 30rem;
    width: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main {
    position: relative;
    /* padding: 5rem 9%; */
}

.content {
    position: absolute;
    margin-left: 4rem;
    width: 50rem;
}

.content span {
    font-size: 4rem;
    color: #10221b;
}

.content h3 {
    font-size: 6rem;
    color: #219150;
    padding-top: .5rem;
    text-transform: uppercase;
    margin: 2rem;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    height: 5.5rem;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}


.btn:hover {
    background-color: #10221b;
    color: ghostwhite;
}

/* section start here */

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem;
    gap: 3rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 6rem;
    font-weight: bolder;
}

.images .img img {
    width: 200px;
    border-radius: 40rem;
}

.images .img h3 {
    color: #219150;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    padding-top: -.5rem;
}

.images .img p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
    width: 350px;
}

/* about us section */
section {
    width: 100%;

}


.about-us {
    background-color: rgb(241, 238, 238);
    /* width: 100%; */
    position: relative;
    padding: 5rem;
    margin-top: 4rem;
}

.aboutUs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.aboutUs .img img {
    width: 70%;
}


.contenx h5 {
    color: #219150;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    padding-top: .5rem;
    text-align: center;
}

.contenx p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
    width: 400px;
    text-align: center;
}


/* second slider styling */
.secondSlider .slide {
    border: 0.2rem solid #10221b;
}

.secondSlider .slide:hover .product .icon {
    transform: translateY(0);
}

.secondSlider .slide .product {
    position: relative;
    overflow: hidden;
    height: 30rem;
    width: 100%;
}

.secondSlider .slide .product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secondSlider .slide .product .icon {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    left: 0;
    z-index: 10;
    text-align: center;
    transform: translateY(7rem);
}

.secondSlider .slide .product .icon a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    background: #10221b;
    color: white;
    margin: 0 .2rem;

}

.secondSlider .slide .product .icon a:hover {
    background: #219150;
}


.secondSlider .slide .content {

    padding: 1rem 10%;
    text-align: center;
}

.secondSlider .slide .content h3 {
    font-size: 2rem;
    color: #10221b;
}

.secondSlider .slide .content .price {
    padding: 1rem 0;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #219150;
}

.secondSlider .slide .content .star i {
    font-size: 1.7rem;
    color: #10221b;
}


/* popular packages section */
.popular {
    background: #eee;
    margin-top: 8rem;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 6rem;
}

.popular .boxes .imge:hover {
    background: #10221b;
}


.popular .boxes .imge:hover .contents>* {
    color: #fff;
}

.popular .boxes .imge .img:hover .btn {
    border-color: #fff;
    margin-top: 2rem;
}


.popular .boxes .imge:hover .btn:hover {
    background: #fff;
    color: #10221b;
}


.popular .boxes .imge {
    text-align: center;
    background: #fff;
    width: 35rem;
    height: 48rem;
    border: 0.2rem solid #10221b;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.popular .boxes .imge .img {
    height: 25rem;
    overflow: hidden;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .5rem;
}

.popular .boxes .imge .img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: .5rem;
}

.boxes .imge {
    text-align: center;
}

.boxes .imge .contents {
    text-align: center;
}

.boxes .imge .contents h4 {
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2rem;
}

.boxes .imge .contents p {
    line-height: 2;
    font-family: sans-serif;
    text-align: center;
}


.boxes .imge .contents .price {
    color: #219150;
    font-weight: bolder;
    font-size: 2rem;
}


/* what we offer section */
.whatWeOffer {
    background-color: #fff;
}


.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 6rem;
}


.whatWeOffer .boxes .imge:hover {
    background: #10221b;

}

.whatWeOffer .boxes .imge:hover .contents>* {
    color: #fff;
}

.whatWeOffer .boxes .imge .img:hover .btn {
    border-color: #fff;
    margin-top: 2rem;
}

.whatWeOffer .boxes .imge:hover h4:hover {
    color: #219150;
}

.whatWeOffer .boxes .imge:hover .btn:hover {
    background: #fff;
    color: #10221b;
}

.whatWeOffer .boxes .imge:hover .btn {
    margin-top: 4rem;
}


.whatWeOffer .boxes:hover img {
    background: #fff;
}

.whatWeOffer .boxes .imge {
    text-align: center;
    background: #fff;
    width: 35rem;
    height: 40rem;
    border: 0.2rem solid #10221b;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.boxes .imge .contents h4 {
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2rem;
    color: #219150;
}

.whatWeOffer .boxes .imge {
    height: 40rem;
    overflow: hidden;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .5rem;
}


.DailyPost {
    background-color: #eee;

}

.daily-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 6rem;
}


.image-post {
    width: 30rem;
}

.image-post img {
    width: 100%;
    height: 80%;
    border-radius: 1rem;
}

/* @media (max-width:320px) {
    .daily-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
} */


.daily-icon {
    background-color: #10221b;
}


.DailyPost .daily-container .image-post .contents h4 {
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2rem;
}

.daily-container .image-post .contents p {
    line-height: 2;
    font-family: sans-serif;
    text-align: center;
    color: red;
}

/* client section */

.clients .slide .word {
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    background: #eee;
    border-radius: .5rem;
    color: #10221b;
    line-height: 2;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
}

.clients .slide .word::before {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: .7rem;
    height: 3rem;
    width: 3rem;
    background: #eee;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.clients.slide .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.clients .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.clients .slide .user h3 {
    font-size: 2rem;
    color: #10221b;
}

.clients .slide .user span {
    color: #219150;
    font-size: 1.5rem;
}





/* popular packages section */

@media screen and (max-width:320px) {
    html {
        font-size: 62%;
    }

    #menu-btn {
        display: inline-block;
    }

    .myHeader .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #16a085;
        padding: 2rem 0;
        transform: scaleY(0);
        transform-origin: top;
        text-align: center;
    }

    #myCarousel {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
    }

    .whatWeOffer .boxes .imge .btn {
        margin-top: 3rem;
    }

    .whatWeOffer .boxes .imge {
        height: 43rem;
    }
}

@media screen and (max-width:220px) {
    html {
        font-size: 40%;
    }

    #menu-btn {
        display: inline-block;
    }

    .myHeader .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #16a085;
        padding: 2rem 0;
        transform: scaleY(0);
        transform-origin: top;
        text-align: center;
    }

}